<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('app_ulid') }}">Ulid</a></li>
                    <li><a href="{{ path('app_ulid_nil') }}">Nil Ulid</a></li>
                    <li><a href="{{ path('app_uuid_v1') }}">Version 1 Uuid</a></li>
                    <li><a href="{{ path('app_uuid_v3') }}">Version 3 Uuid</a></li>
                    <li><a href="{{ path('app_uuid_v4') }}">Version 4 Uuid</a></li>
                    <li><a href="{{ path('app_uuid_v5') }}">Version 5 Uuid</a></li>
                    <li><a href="{{ path('app_uuid_v6') }}">Version 6 Uuid</a></li>
                    <li><a href="{{ path('app_uuid_nil') }}">Nil Uuid</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    <footer>
    </footer>
    </body>
</html>
